@font-face {
    font-family: 'Crazy';
    src: url('/assets/fonts/Crazy-Sixties.ttf');
}

@font-face {
    font-family: 'Myriad';
    src: url('/assets/fonts/MyriadPro6Regular.otf');
}

@font-face {
    font-family: 'Stanberry';
    src: url('/assets/fonts/Stanberry.ttf');
}